@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

*,
::after,
::before,
::backdrop {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Atkinson Hyperlegible Mono", sans-serif;

  background-color: #000000;
  color: #ffffff;

  max-width: 385px;
  /* margin: 60px 0; */
  padding: 20px 30px;

  a {
    color: inherit;
  }

  p {
    margin: 12px 0;
  }

  p, li {
    font-size: 16px;
    line-height: 24px;
  }

  ul, ol {
    padding-left: 40px;
    margin: 12px 0;
  }
}
